.player-choices{
  display: flex;
  width: 88vw;
  justify-content: space-around;
  height: 20vh;
  margin: 0 auto;

  .choice {
    width: 25%;
    height: auto;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .selected {
    opacity: 1;
  }

  &.interactive {

    .choice:hover {
      opacity: 1;
    }
  }
}